<%= object_messages(@element) %>
<div id="content" class="simpleform">
  <%  form_for @element, :url => {:action => :update} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
